body {
  margin: 0 auto;

  width: 100%;
  height: auto;
}
body::after {
  content: "";
  background-image: url(oldtools.jpeg);
  background-size: cover;
  background-position: center;

  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
